@model Vidly.ViewModels.NewRentalViewModel
@{
    ViewBag.Title = "RentalForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rental Form</h2>

@using (Html.BeginForm("Save", "Rental"))
{
    @Html.ValidationSummary()

    <div class="form-group">
        @Html.LabelFor(m => m.SelectedMovies)
        @Html.DropDownListFor(m => m.SelectedMovies, new SelectList(Model.Movies, "Id", "Name"), new { @class = "form-control", @multiple = "multiple" })
        @Html.ValidationMessageFor(m => m.SelectedMovies)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerId)
        @Html.DropDownListFor(m => m.CustomerId, new SelectList(Model.Customers, "Id", "Name"), new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerId)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}

@section scripts
{
    <script>
        $("select#SelectedMovies").select2();
    </script>  
}
 